.setting-modal {
  .tip {
    text-align: center;
    color: rgb(230, 5, 5);
    font-size: 16px;
  }
  .tips-img {
    display: inline-block;
    width: 200px;
    height: 160px
  }
  .uuid {
    font-weight: 600;
    font-size: 18px;
  }
  .pic-image-row {
    display: inline-block;
    width: 110px;
    height: 50px;
  }
  .pic-image-col {
    display: inline-block;
    height: 110px;
    width: 50px;
  }
  .ml-36 {
    margin-left: 36px;
  }
  .ml-56 {
    margin-left: 56px;
  }
}
